$blue: #16213E;
$blue-transparent: rgba(15, 52, 96, 0.7);

$font-color: #EEE;

$footer-color: rgba(45, 118, 136, 0.8);

$pink: #2f82ff;
$border-pink: 0.4rem solid $pink;
$border-pink-small: 0.2rem solid $pink;

$linear-gradient-default: linear-gradient(to bottom right, rgba(45, 118, 136, 0.8), 80%, rgba(69, 140, 233, 0.5));