@use 'components';
@use 'mixins';
@use 'colors';


.footerblock{
    width: 100%;
    height: 20rem;
    background: colors.$footer-color;
    margin-top: 55rem;
    @include mixins.flexCenter;
  }
  
  .footerblock-inner-text{
    font-family: "roboto", cursive;
    font-weight: 400;
    font-size: 4rem;
    color: colors.$font-color;
  }