@use "../../abstract/mixins";
@use "../../abstract/colors";

.showcase{
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
    gap: 4rem;
    background:colors.$background;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    box-shadow: inset 0 -1rem 2rem 0 #54BAB8;

    &__input{
        font-size: 100%;
        padding: 2rem;
        width: 50%;
        border: none;
        border-bottom: 0.2rem solid #54BAB8;

        &:focus{
            outline: none;
        }
    }

    &__section{
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    &__font{
        font-size: 180%;
        font-weight: 500;
    }

    &__output{
        font-size: 200%;

        &--cursive{
            @include mixins.fontCursive
        }

        &--sansSerif{
            @include mixins.fontsansSerif
        }

        &--Serif{
            @include mixins.fontSerif
        }
    }
}
